/feat_coe.parquet
/feat_cpi.parquet
/feat_income.parquet
/feat_private_property.parquet
/feat_unemployment.parquet
/feat_income_mem.parquet
/feat_income_flat_type.parquet
/feat_policy.parquet
/feat_sora_rates.parquet
/feat_loc_transport.parquet
/feat_loc_dist_cbd.parquet
/feat_loc_hawker.parquet
/feat_loc_sports.parquet
/feat_loc_preschool.parquet
/feat_loc_prischool.parquet
/feat_loc_secschool.parquet
/feat_loc_jcschool.parquet
/feat_loc_mixedschool.parquet
/feat_loc_parks.parquet
/feat_loc_cc.parquet
