/data.csv
/hdb_txn_raw_report.html
/sg_regions.geojson
/sg_towns.geojson
/sg_towns_regions.csv
/cleaned_rawdata.pkl
/partial_dataset_1.parquet
/base_dataset.parquet
/COE.csv
/CPI.csv
/Private_Property_Index.csv
/Unemployment_Rate_SA.csv
/feat_coe.parquet
/feat_cpi.parquet
/HDB_Resale_Price_Index.csv
/feat_private_property.parquet
